@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
$main-font: "Josefin Sans", sans-serif;
/*----colors----*/
$light: #f5f5f5;
$dark: #413a3a;
$shadow: #f8bfbf;

$primary: #ce9797;
$active: #f96262;
$bg: linear-gradient(135deg, #fdd3d3, #f5a9a9);
$btn-bg: linear-gradient(135deg, #f8bfbf, #ee8c8c);
